<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Начальная страница блога</title>


</head>
<body>


    <header>
        <div class="page-header">

            <h2><a href="{% url 'post_detail' %}">Все посты</a></h2>

        </div>
    </header>


    <h2>Вы находитесь на начальной странице моего блога</h2>

    <div class="post">

        <h1>Название поста: <h2>{{ post_title }}</h2> </h1>


        <h1>Текст поста</h1>
        <h2> {{ post_text|linebreaksbr }} </h2>

        <h1>Дата создания</h1>
        <h2> {{ post_data }} </h2>
    </div>

</body>
</html>